<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.select :species, ["Cat", "Dog", "Hamsters", "Birds" ]%>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :description %>
      <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :lost_on %>
    <%= form.text_field :lost_on %>
  </div>

  <div class="field">
    <%= form.label :last_known_latitude %>
    <%= form.text_field :last_known_latitude %>
  </div>

  <div class="field">
    <%= form.label :last_known_longitude %>
    <%= form.text_field :last_known_longitude %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" , class: "btn btn-default btn-success" %>
  </div>
  
  <br />
  <br />
<% end %>
