<p id="notice"><%= notice %></p>

<h5>Total Pets - <%= @pets.count%></h5>

<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-md-4">
      <div class="card card_on_profile" style="width: 20rem; margin: auto; margin-top: 40px; font-weight:bold">
        <% if !pet.image.blank? %>
          <img class="card-img-top" src=<%=image_tag(pet.image) %> alt="Card image cap">
        <% else %>
          <img class="card-img-top" src="" alt="no image available!">
        <% end %>
       
        <div class="card-body text-center">
          <h5 class="card-title" style="font-weight: bold;">Name</h5>
          <table class="table">
              <tbody>
                <tr>
                  <td>Species</td>
                  <td><%= pet.species.capitalize %></td>
                </tr>
                <tr>
                  <td>Breed</td>
                  <td><%= pet.breed.capitalize %></td>
                </tr>
                <tr>
                  <td>Lost on</td>
                  <td><%= pet.lost_on.strftime('%a, %d %b %Y') %></td>
                </tr>
              </tbody>
          </table>
        <%= link_to 'Read More', pet, class: "btn btn-primary" %>
        </div>
        <div class="card-footer text-muted text-center">
          posted - <%= pet.created_at.strftime('%a, %d %b %Y') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
