<p id="notice"><%= notice %></p>

<h5>Total Pets - <%= @pets.count%></h5>

<div class="container-fluid content-row">
<div class="row" style="margin-bottom: 100px;">
  
  <% @pets.each do |pet| %>
    <div class="col-md-4 align-items-stretch" style="margin-bottom: 5%;">
      <div class="card card_on_profile h-100">
       
        <% if !pet.image.blank? %>
          <%=image_tag(pet.image) %> 
        <% else %>
          <img class="card-img-top" src="" alt="no image available!">
        <% end %>
       
        <div class="card-body text-center d-flex flex-column">
          <h5 class="card-title" style="font-weight: bold;">Name</h5>
          <table class="table">
              <tbody>
                <tr>
                  <td>Species</td>
                  <td><%= pet.species.capitalize %></td>
                </tr>
                <tr>
                  <td>Breed</td>
                  <td><%= pet.breed.capitalize %></td>
                </tr>
                <tr>
                  <td>Lost on</td>
                  <td><%= pet.lost_on_format %></td>
                </tr>
              </tbody>
          </table>
          
          <%= link_to 'Read More', pet, class: "mt-auto btn btn-primary", style: "color: white; font-weight: bold" %>
        </div>
        <div class="card-footer text-muted text-center">
          posted - <%= pet.created_at.strftime('%a, %d %b %Y') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>