<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<p>
  <strong>Lost on:</strong>
  <%= @pet.lost_on %>
</p>

<p>
  <strong>Last known latitude:</strong>
  <%= @pet.last_known_latitude %>
</p>

<p>
  <strong>Last known longitude:</strong>
  <%= @pet.last_known_longitude %>
</p>

<p>
  <strong>Other Info:</strong>
  <%= @pet.other_info %>
</p>

<div>
  <p> <strong>Image:</strong> </p>
    <% if !@pet.image.blank? %>
      <p> <%= image_tag(@pet.image, size: "180x100" ) %> </p>
    <% else %>
      <p>No image available!</p>
    <% end %>
</div>

<br />

<%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-primary" %> |
<%= link_to 'Back', pets_path, class: "btn btn-secondary" %>
