<div class="container-fluid">

  <div class="row">
    
    <div class="col-6 mt-3">
      <div class="row">
        <div class="col-sm-12">
          <% if !@pet.image.blank? %>
            <%= image_tag(@pet.image, style: 'height:auto;width:100%;' ) %>
          <% else %>
            <p>No image available!</p>
          <% end %>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <%= render "comments/comment_handle" %>
        </div>
      </div>

    </div>
    

    <div class="col-6 mt-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title"> <strong><%= @pet.name.upcase %></strong></h4>
            
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Lost on: </strong>
                <%= @pet.lost_on_format %> </p>
              </div>
              
              <div class="col-sm-6">
                <% if @pet.injured %>
                  <p class="card-text"><strong>Injured: </strong> Yes</p>
                <% else %>
                  <p class="card-text"><strong>Injured: </strong> No</p>
                <% end %>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Species: </strong>
                  <%= @pet.species %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Breed: </strong>
                  <%= @pet.breed %>
                </p>
              </div>
            </div>

            <hr />
            
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Location: </strong>
                  <%= @pet.find_record_details.locality %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Country: </strong>
                  <%= @pet.find_record_details.country %>
                </p>
              </div>
            </div>

            <hr />
            
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Route: </strong>
                  <%= @pet.find_record_details.route %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Street Number: </strong>
                  <%= @pet.find_record_details.street_number %>
                </p>
              </div>
            </div>

            <hr />
            
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Neighborhood </strong>
                  <%= @pet.find_record_details.neighborhood %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Postal Code: </strong>
                  <%= @pet.find_record_details.postal_code %>
                </p>
              </div>
            </div>
            
            <hr />
            
            <div class="row">
              <div class="col-sm-12">
                <p class="card-text"><strong>Description: </strong>
                  <%= @pet.description %>
                </p>
              </div>
            </div>
            
            <hr />

            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Other Info: </strong>
                  <%= @pet.other_info %>
                </p>
              </div>
            </div>

        <div class="card-footer text-center">
          <small class="text-muted">last update <%= @pet.updated_at.strftime('%a, %d %b %Y %H:%M') %></small>
        </div>

        <% if user_signed_in? && @pet.user_id==current_user.id %>
          <div class="card-footer text-center">
              <%= link_to 'Edit' , edit_pet_path(@pet), class: "btn btn-primary btn-sm", style:"color: white; font-weight: bold" %> |
              <%= link_to 'Delete' , pets_delete_path(@pet), class: "btn btn-danger btn-sm", style:"color: black; font-weight: bold", method: :delete, onclick: "return confirm('Are you sure?')" %> 
            </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>


