<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <% if !@found_pet.image.blank? %>
            <%= image_tag(@found_pet.image, style: 'height:auto;width:100%;' ) %>
          <% else %>
            <p>No image available!</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= render "comments/comment_handle" %>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Found on: </strong>
                  <%= @found_pet.found_on_format %>
                </p>
              </div>
            
              <div class="col-sm-6">
                <% if @found_pet.injured %>
                  <p class="card-text"><strong>Injured: </strong> Yes</p>
                <% else %>
                  <p class="card-text"><strong>Injured: </strong> No</p>
                <% end %>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Species: </strong>
                  <%= @found_pet.species %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Breed: </strong>
                  <%= @found_pet.breed %>
                </p>
              </div>
            </div>
            <hr />
            
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Location: </strong>
                  <%= @found_pet.find_location_details.locality %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Country: </strong>
                  <%= @found_pet.find_location_details.country %>
                </p>
              </div>
            </div>
            
            <hr />
            
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Route: </strong>
                  <%= @found_pet.find_location_details.route %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Street Number: </strong>
                  <%= @found_pet.find_location_details.street_number %>
                </p>
              </div>
            </div>
            
            <hr />
            
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Neighborhood </strong>
                  <%= @found_pet.find_location_details.neighborhood %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Postal Code: </strong>
                  <%= @found_pet.find_location_details.postal_code %>
                </p>
              </div>
            </div>
            
            <hr />

            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Other Info: </strong>
                  <%= @found_pet.other_info %>
                </p>
              </div>
            </div>

        <div class="card-footer text-center">
          <small class="text-muted">last update <%= @found_pet.updated_at.strftime('%a, %d %b %Y %H:%M') %></small>
        </div>

        <% if user_signed_in? && @found_pet.user_id == current_user.id %>
          <div class="card-footer text-center">
            <%= link_to 'Edit' , edit_found_pet_path(@found_pet), class: "btn btn-primary btn-sm" , style:"color: white; font-weight: bold"
              %> |
            <%= link_to 'Delete' , found_pets_delete_path(@found_pet), class: "btn btn-danger btn-sm" , style:"color: black; font-weight:
              bold", method: :delete, onclick: "return confirm('Are you sure?')" %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>