<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-horizontal">

          <div class="img-responsive" style="height: fit-content;">
            <% if !@found_pet.image.blank? %>
              <%= image_tag(@found_pet.image, size: "180x100" ) %>
                <% else %>
                  <p>No image available!</p>
                  <% end %>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Found on: </strong>
                  <%= @found_pet.found_on_format %>
                </p>
              </div>

              <div class="col-sm-6">
                <p class="card-text"><strong>City/Country: </strong>
                  <%= @found_pet.search %>
                </p>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Species: </strong>
                  <%= @found_pet.species %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Breed: </strong>
                  <%= @found_pet.breed %>
                </p>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Last known latitude: </strong>
                  <%= @found_pet.latitude.round(6) %>
                </p>
              </div>
              <div class="col-sm-6">
                <p class="card-text"><strong>Last known longitude: </strong>
                  <%= @found_pet.longitude.round(6) %>
                </p>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-6">
                <p class="card-text"><strong>Other Info: </strong>
                  <%= @found_pet.other_info %>
                </p>
              </div>

              <div class="col-sm-6">
                <% if @found_pet.injured %>
                  <p class="card-text"><strong>Injured: </strong> Yes</p>
                <% else %>
                    <p class="card-text"><strong>Injured: </strong> No</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-center">
          <small class="text-muted">last update <%= @found_pet.updated_at.strftime('%a, %d %b %Y %H:%M') %></small>
        </div>

        <% if user_signed_in? && @found_pet.user_id == current_user.id %>
          <div class="card-footer text-center">
            <%= link_to 'Edit' , edit_found_pet_path(@found_pet), class: "btn btn-primary" , style:"color: white; font-weight: bold"
              %> |
              <%= link_to 'Delete' , found_pets_delete_path(@found_pet), class: "btn btn-danger" , style:"color: black; font-weight:
                bold", method: :delete, onclick: "return confirm('Are you sure?')" %>
          </div>
        <% end %>
      </div>
      <br />
      <br />

      <h6><strong>2 Comments</strong></h6>
      <hr />

      <div class="col-sm-6 comments-box">
        <p><strong>Username</strong>
          <small class="text-muted" style="margin-left: 5px">Sun, 31 Oct 2021 19:46</small>
        </p>
        <div class="dialogbox">
          <span class="tip tip-up"></span>
          <div class="message">
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </div>
        </div>
      <br />
        <p><strong>Username</strong>
          <small class="text-muted" style="margin-left: 5px;">Fri, 29 Oct 2021 15:30</small>
        </p>
        <div class="dialogbox">
          <span class="tip tip-up"></span>
          <div class="message">
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>