<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand" 
     href="/"> 
     <%= image_tag '' %>
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Home' , root_path, class: 'nav-link' %>
      </li>
 
      <li class="nav-item">
        <%= link_to 'About' , about_index_path, class: 'nav-link' %>
      </li>
 
      <li class="nav-item">
        <%= link_to 'Contact' , contact_index_path, class: 'nav-link' %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Logout' , destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' },
            class: 'nav-link' %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to 'Login' , user_session_path, class: 'nav-link' %>
        </li>
        
        <li class="nav-item">
          <%= link_to 'SignUp' , new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>