<!DOCTYPE html>
<html>
  <head>
    <title>PetDefault</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPkZuDM0CbRjc0-wPltmf6KuP6QEYYbDs&libraries=places&callback=initMap", 
      async defer data-turbolinks-eval: false>
    </script>
  <body>
    <%= render "nav/navbar" %>
    <%= render "alerts_handle/alerts" %>

    <div class="container" style="margin-top: 60px;">
      <%= yield %>
    </div>
    <div style="margin-bottom: 200px"></div>
  </body>
</html>
